{% extends "layout.html" %}
{% block content %}
    <article class="media ana-panel">
        <div class="media-body">
            <div class="article-metadata">
                <h7 class="mr-2">About Page</h7>
            </div>
            <div class="container">
                <div class="row">
                    <h7 class="mr-2 green-warning">Mission Statement</h7>
                    <p>
                        The declining value of the agriculture market in the developing world is becoming a concern on a
                        global scale. Recent research into precision agriculture and pre-script farming has been on the
                        agenda for many institutions hoping to avoid the rise in value of necessary commodities. Precision
                        agriculture and pre-script farming are the process of analyzing data collected from the crops
                        environment to make valuable insights and in turn aid decision making. This report aims to shed
                        light on these issues and provide an essential solution. Many IoT systems have been created by
                        international companies to aid the struggle of small and industrial sized farms fighting against
                        extreme weather conditions and unfertile soil. The proposed solution will help farmers gain valuable
                        insights into the physical environment of their plants by sensing temperature, light, soil moisture
                        and humidity and allow farmers to make good business decisions. One such example would be to monitor
                        the soil moisture and humidity to determine when plants should be watered.
                    </p>
                    <pre>
    <h7 class="green-warning">Contact Details</h7>
    Tel: +447724791458
    Email: michaelmcdaid0@gmail.com
                    </pre>
                </div>
            </div>
        </div>
    </article>
{% endblock content %}